{
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 110,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss", "@prettier/plugin-php"],
	"tailwindFunctions": ["clsx", "cn"],
	"tabWidth": 2,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"cursorOffset": -1,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"objectWrap": "preserve",
	"trailingComma": "all",
	"useTabs": true,
	"phpVersion": "8.2",
	"overrides": [
		{
			"files": "**/*.yml",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
