main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 90vh;
  padding: 10rem 2rem;
  max-width: 90rem;
  margin: 0 auto;
}
main > h2 {
  font-size: 5rem;
  text-align: center;
}
main > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
main article {
  display: flex;
  padding: 2rem;
  background-color: var(--bg-2);
  border-radius: 1rem;
  min-height: 20rem;
  max-width: 60rem;
  gap: 2rem;
}
main article > img {
  height: 100%;
  width: 11rem;
  object-fit: cover;
  border-radius: 1rem;
}
main article > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main article > div > h3 {
  font-size: 3.5rem;
}
main article > div > h4 {
  font-size: 2rem;
  color: var(--fg-2);
  font-weight: normal;
  margin-bottom: 1rem;
}
main article > div > p {
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
main > div > article {
  flex: 1;
}
main > h2:last-of-type {
  margin-top: 5rem;
}
main > ol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
main > ol > li {
  font-size: 2.5rem;
  min-width: 35rem;
  font-weight: bold;
  flex: 1;
  padding-right: 2rem;
}
main > ol > li > p {
  font-size: 1.5rem;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  main {
    padding: 4rem 1rem;
  }
  main > h2 {
    font-size: 3.5rem;
  }
  main article {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  main div {
    flex-direction: column;
  }
  main article > img {
    width: 100%;
    height: 20rem;
  }
  main > h2:last-of-type {
    margin-top: 3rem;
  }
  main > ol {
    flex-direction: column;
    gap: 2rem;
    list-style-position: inside;
  }
  main > ol > li {
    font-size: 2rem;
    min-width: 0;
  }
  main > ol > li > p {
    font-size: 1.5rem;
  }
}